.idea
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
nbproject`

.sass-cache/
backups/*

.rvmrc
.rbenv-version

nohup.out

/typings
jsconfig.json
typings.json
/.vscode
project.config.json
/.DS_Store
/miniprogram_npm
/node_modules

