var judgeOss=function(imgUrl,process){
    if (!process) {
        process = ''
    }
    if (imgUrl.indexOf('https://cdn-h.gongfudou.com') >= 0 && imgUrl.indexOf('?x-image-process=image') < 0) {
        imgUrl += '?x-image-process=image'
    } else if (imgUrl.indexOf('https://cdn.gongfudou.com') >= 0 && imgUrl.indexOf('?x-oss-process=image') < 0) {
        imgUrl += '?x-oss-process=image'
    }
    if(imgUrl.indexOf('https://cdn-h.gongfudou.com') >= 0&&process.indexOf('/resize') >= 0){
        process+='/marker,u_plus'
    }
    return imgUrl + process
}

module.exports = {
    judgeOss:judgeOss
}
