// 获取文件类型
var getFileType = function getFileType(name) {
  var names = name.split('.'),
      typeText = names[names.length - 1].toLowerCase()

  switch (typeText) {
      case 'xlsx':
      case 'xls':
      case 'xlsm':
      case 'xltx':
      case 'xltm':
          return 'excel'
      case 'doc':
      case 'docx':
          return 'doc'
      case 'ppt':
      case 'pptx':
          return 'ppt'
      case 'pdf':
          return 'pdf'
      case 'png':
          return 'png'
      case 'jpg':
      case 'jpeg':
          return 'jpg'
      default:
          return 'error'
  }
}

module.exports = {
  getFileType: getFileType
}